
paintings.json
paintingData.json
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/Predicting Painting Due Dates.iml
.idea/workspace.xml
.vscode/**
get-pip.py
get-pip.py
get-pip.py
.vscode/launch.json
*.pyc
cbdData.json
